.meus-dados {
  margin-top: 3%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #2196f3;
}

.sub-nome {
  font-family: 'Abril Fatface', cursive;
}

.nome {
  font-family: 'Abril Fatface', cursive;
  color: #2195f3cb;
}

.minha-foto {
  border-radius: 50%;
  width: 30%;
  height: 30%;
}

@media (max-width: 560px) {
  .sobre {
    margin-top: 3%;
    padding-top: 3%;
    padding: 3%;
    font-size: 1em;
    color: white;
  }
}

@media (min-width: 560px) {
  .sobre {
    margin-top: 3%;
    padding-top: 3%;
    padding: 3%;
    font-size: 20px;
    color: white;
  }
}

.title-sobre {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

.redes-sociais {
  margin-bottom: 3%;
  padding-bottom: 3%;
  font-size: 25px;
  text-align: center;
}

.icon {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.texto {
  text-align: center;
}

.zoom {
  margin: 1%;
  display: inline;
  overflow: hidden;
}

@media (max-width: 560px) {
  .zoom img {
    height: 3em;
    width: 3em;
    display: inline;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (min-width: 560px) {
  .zoom img {
    height: 10%;
    width: 10%;
    display: inline;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#linkedim :hover {
  color: chartreuse;
}

.img-carosel {
  width: 100%;
  height: 90%;
}

#pdf {
  width: 3em;
  height: 3em;
}

.curriculo {
  display: grid;
  grid-row: 2;
}

.carousel-item {
  text-align: center;
  color: whitesmoke;
}

.center {
  text-align: center;
}

.minha-carreira {
  color: black;
}
