* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  border-top: #eeeeee 0.1px solid;
  border-bottom: #eeeeee 0.1px solid;
}

@media (min-width: 560px) {
  .grid-container {
    display: grid;
    grid-template-columns: 8em 8em 8em;
  }
}
@media (max-width: 560px) {
  .grid-container {
    display: grid;
    grid-template-columns: 5em 5em 5em;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  font-size: 17px;
  text-align: left;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#quadro {
  border-radius: 10%;
  width: 110px;
  height: 110px;

  background-color: black;
}

.container {
  background-color: white;
  margin-top: 5%;
  padding: 1%;
}

body {
  background-color: whitesmoke;
  font-size: 20px;
}

h2 {
  text-align: center;
  padding: 1%;
}

@media (min-width: 560px) {
  .block-color {
    display: inline-block;
    margin: 1px;
    width: 30px;
    height: 30px;
    border-radius: 20%;
  }
}
@media (max-width: 559px) {
  .block-color {
    display: inline-block;
    margin: 1px;
    width: 20%;
    height: 20%;
    border-radius: 20%;
  }
}

.mostrar {
  font-size: 0.9em;
  text-align: center;
}

@media (min-width: 560px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: 8em 8em;
  }
}
@media (max-width: 560px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: 8em 8em;
  }
}

.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 16px;
}
.mostrar-rgb {
  text-align: center;
}

.star {
  font-size: 18px;
}
.width-input {
  width: 40px;
}
